// Colors

$red: #f00;
$black: #222;
$dk-gray: #404040;
$vlt-gray: #f0f0f0;
$lt-gray: #d6d6d6;

$blue: #4C98DC; // New blue that's 3.1:1 contrast
$white: #ffffff;
$gray: #a6a6a6;
$vdk-gray: #555555;
$sdk-gray: #333333;
$slt-gray: #fafafa;

$border-gray: #e3e3e3; // for poster thumbs

// Borders

$brad: 5px;