/* Body
-------------------------------------------------- */
body {
  @media screen and (min-width: 1280px) {
    font-size: 20px;
  }
  @media screen and (min-width: 1600px) {
    font-size: 24px;
  }
}

/* Wrapper
-------------------------------------------------- */

.wrap {
  @include grid-row;
}

/* Project header
-------------------------------------------------- */

#project-header {
  @include grid-row;
}

.project-hero-image {
  @include grid-col(5);
}



/* Content
------------------------- */

.content {
    padding: $gutter .5*$gutter 2*$gutter;

    @media screen and (min-width: 580px) {
      padding-left: 1.5*$gutter;
      padding-right: 1.5*$gutter;
    }
    @media screen and (min-width: 760px) {
      // Same as above padding
    }
    @media screen and (min-width: 980px) {
      padding-left: 2.5*$gutter;
      padding-right: 2.5*$gutter;
    }
    @media screen and (min-width: 1200px) {
      padding-left: 3.5*$gutter;
      padding-right: 3.5*$gutter;
    }
}

/* Page title */

.page-title {
  @include grid-col(5);
}

/* Main col */

.main {
    @include grid-col(5);
    padding-bottom: $gutter; // needs this padding because it stacks directly on top of the sidebar in the smaller layouts
    @media screen and (min-width: 760px) {
      @include grid-col(3);
    }
    @media screen and (min-width: 960px) {
      padding-right: $gutter; // increase the standard right padding to make more room for the sidebar
    }    
     @media screen and (min-width: 1200px) {
       @include grid-col(2.5);
       padding-right: $gutter; // increase the standard right padding to make more room for the sidebar
    }  
}

/* Sidebar */

.sidebar {
    @include grid-col(5);
    @media screen and (min-width: 760px) {
      @include grid-col(2);
    }
    @media screen and (min-width: 960px) {
      padding-left: $gutter;
    }
     @media screen and (min-width: 1200px) {
      @include grid-col(2.5);
      padding-left: $gutter;
    }
}

