/* Site header
-------------------------------------------------- */

#site-header {
  background-color: $vlt-gray;
  height: 44px;
}

/* Breadcrumb navigation
------------------------- */

#crumb-nav {
  display: none;
}

/* Site navigation
-------------------------------------------------- */

#site-nav {
  display: none;
}


/* Project header
-------------------------------------------------- */

#project-header {
  text-align: center;
}

/* Dot nav
------------------------- */

.dot-nav {
  display: inline-block;  
  list-style: none;
  margin: 0 auto;
  padding: 0 0 .375em;
  border-bottom: 1px solid $lt-gray;
  li {
    display: inline-block;
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
    height: .375em; // 6/16
    width: .375em;
    border-radius: .1875em; // 3/16
    background-color: $lt-gray;
  }
  .current {
    background-color: $red;
  }
}

/* Project title
------------------------- */

.project-title {
	font-size: 1.25em; // 20/16
	line-height: 1.1em; // 22/20
	padding: .55em 0; // 11/20
	margin: 0;
}

/* Project hero image
------------------------- */

.project-hero-image {
  border: 1px solid green;
  padding: .55em 0; // 11/20
	margin: 0;
	img {
  	margin: 0;
  	padding: 0;
	}
}


/* Project nav
------------------------- */

.project-nav {
  text-align: center;
}

#site-footer {
  .prev-next {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: $red;
  }
}

/* Links as buttons
-------------------------------------------------- */

.btn {
  @include box-size;
  display: inline-block;
  padding: 0;
  margin: 0;
  border: 2px solid $red;
  border-radius: $brad;
  background-color: $white;
  color: $red;
  cursor: hand;
  @include transit(all, .2s, linear);
  &:hover {
    border-color: $gray;
    color: $gray;
  }
  .icon {
    display: block;
    float: left;
    padding: .875em;
    margin: 0;
    font-size: .875em;
    line-height: 1em;
    position: relative;
    top: .15em;
    top: 0;
  }
  .label {
    display: block;
    float: left;
    padding: .875em;
    font-size: .875em;
    font-family: 'SupriaSans-Bold',Helvetica,Arial,Helmet,Freesans,sans-serif;
    font-weight: 500;
    font-style: normal;
    line-height: 1em;
    text-transform: uppercase;
    letter-spacing: .1em;
  }
}

/* Prev / Next nav
-------------------------------------------------- */

.prev-next {
  list-style: none;
  margin: 0;
  padding: 0;
}
.prev {
  display: inline-block;
  .label {
    border-left-width: 2px;
    border-left-style: solid;
    display: none;
  }
  @media screen and (min-width: 480px) {
    .label {
      display: inline-block;
    }
  }
}
.next {
  @extend .prev;
  .label {
    border-left-width: 0;
    border-right-width: 2px;
    border-right-style: solid;
  }
}

#project-footer .prev-next {
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 1;
  background-color: $gray;
  width: 100%;
  text-align: center;
}

/* Project images
-------------------------------------------------- */

.project-images {
  list-style: none;
  margin: 0;
  padding: 0;
}
